<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="logfile" class="org.apache.log4j.FileAppender">
        <param name="File" value="ned-service.log" />
        <param name="Append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
        </layout>
    </appender>

    <category name="org.jooq.impl">
        <priority value="debug" />
        <appender-ref ref="logfile" />
        <appender-ref ref="stdout" />
    </category>

    <category name="org.plos">
        <priority value="debug" />
        <appender-ref ref="logfile" />
        <appender-ref ref="stdout" />
    </category>

    <root>
        <priority value ="info" />
        <appender-ref ref="stdout" />
    </root>

</log4j:configuration>
