Package: [[artifactId]]
Version: [[version]]
Description: [[name]]
Architecture: all
Maintainer: Public Library of Science <dev@plos.org>
Depends: default-jre, java8-runtime, tomcat7-common, debconf, adduser, bash, mysql-client
Homepage: https://github.com/PLOS/named-entity.service