Package: [[name]]
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Depends: jdk (>= 1.8)
Maintainer: PLOS <@plos.org>
Description: Named Entity Service (NED)
Distribution: development
Depends: default-jre | java8-runtime
