Package: [[artifactId]]
Version: [[version]]+[[build.timestamp]]-plos[[build.counter]]
Description: [[name]]
Architecture: all
Section: web
Priority: optional
Maintainer: Public Library of Science <dev@plos.org>
Depends: java8-runtime, tomcat7-common, debconf, adduser, bash, mysql-client, libmysql-java
Homepage: https://github.com/PLOS/named-entity.service
